// http://www.colourlovers.com/palette/376594/Chicanery

$primary: #1c232e;
$secondary: #3c9949;
$tertiary: #5fb86b;

$light            : #FFF;
$dark             : #333;

$text-dark        : $primary;
$text-light       : $light;

$code-background  : #F8F8F8;

$color-strong: $secondary;
$color-h2: $secondary;
$color-h3: $primary;

$block-color: #d9e0eb;
