// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: black;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section.has-light-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #222;
    }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

h2 {
    background-color: palegreen;
    color: whitesmoke;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    font-size: 40px;
    padding: 0.5em;
    padding-bottom: 10px;
    text-align: left;
    z-index: 1;
    p {
        margin: 0;
    }
    //font-family: $font-title;
}

.reveal .slides {

    
    section:not([class^="stack"]) {
        
        background-color: darkcyan;

        // Vertical center alignment of slide content
        // Only works if revealjs is configured with «display: 'flex'»
        justify-content: center;
        flex-direction: column;
        padding-top: 62px; // half of the h2 bar height

        // Left alignment of slide content
        text-align: left;

        // Make sure "section" is the complete slide
        padding-bottom: 0px;
        height: 100%;
    }
}
