@import "./stereopticon-variables.scss";

.columns {
    display: flex;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100% / 12 * $i;
    }
}

@for $i from 1 through 200 {
    .vspace-#{$i}::before {
        content: "";
        display: block;
        padding-bottom: calc(#{$i}px);
    }
}

// Only used in regular slides
.block {
    background-color: $block-color;
    padding: 0.5cm;
    margin-right: 2cm;
}

.reveal .slides section.title {
    .subtitle {
        font-size: 1.3em;
    }
    .subtitle,
    .subtitle > * {
        font-family: $headingFont;
        margin-top: 30px;
        // color: $colored-on-dark;
    }

    .speaker,
    .speaker > * {
        text-decoration: underline dashed// $colored-on-dark;
    }

    .author,
    .author > * {
        font-weight: $font-weight-strong;
        font-family: $mainFont;
        color: $colored-on-dark;
        margin-top: 15px;
    }

    .institution,
    .institution > * {
        font-size: 90%;
    }
}
