// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// My custom stuff (overides some reveal settings)
@import "./stereopticon-fonts.scss";
@import "./stereopticon-variables.scss";

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
    font-weight: $font-weight;
    font-size: $mainFontSize;

    strong,
    b {
        color: $colored-on-light;
        font-weight: $font-weight-strong;
    }

    .slides {
        top: 0px;

        // For all slides (regular, title, impact)
        section:not([class^="stack"]) {
            // Vertical center alignment of slide content
            // Only works if revealjs is configured with «display: 'flex'»
            justify-content: center;
            flex-direction: column;
            padding-bottom: 0px;
        }

        // Regular slides
        section:not([class^="stack"]):not(.impact):not(.title) {
            background-color: $light;
            padding-left: $margin-left;
            padding-right: $margin-right;

            padding-top: $title-bar-offset; // half of the h2 bar height

            // Left alignment of slide content
            text-align: left;

            // Make sure "section" is the complete slide

            height: calc(100% - (#{$title-bar-offset}));
            width: calc(100% - (#{$margin-left} + #{$margin-right}));

            h2 {
                background-color: $dark;
                color: $text-on-dark;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding: 0.5em;
                padding-bottom: 10px;
                text-align: left;
                z-index: 1;
                p {
                    margin: 0;
                }
                strong,
                a {
                    color: $colored-on-light;
                }
            }
            h3 {
                color: $text-on-light;
                margin: 35px 0 0 0;
            }
        }

        // Title and impact slides (dark background, so we adapt everything)
        section.title,
        section.impact {
            background-color: $dark;
            height: 100%;
            padding-top: 0px;
            vertical-align: middle;
            text-align: center;
            &,
            h1,
            h3 {
                color: $text-on-dark;
            }
            strong,
            b {
                color: $colored-on-dark;
            }

            code {
                background: $dark;
                color: $colored-on-dark;
            }

            a {
                color: $linkColor-on-dark;
            }

            a:hover {
                color: $linkColorHover-on-dark;
            }

            ::selection {
                background: $selectionBackgroundColor-on-dark;
            }
        }
    }

    h1,
    h2,
    h3 {
        font-weight: normal;
    }

    h3 {
        color: $text-on-light;
    }

    pre,
    code {
        font-size: 1.1em;
        //     text-align: left;
        //font-family: $font-fixed;
             color: $colored-on-light;
        //     background: $code-background;
    }

    blockquote {
        border-left: 6px solid;
        color: $colored-on-light;
        text-align: left;
        & > p {
            margin: 0;
        }

        //line-height: 1em;

        &::before,
        &::after {
            //font-size: 2em;
            //vertical-align: -.2em;
            font-weight: $font-weight-strong;
            //font-size: 1.1em
        }

        &::before {
            content: "«";
        }

        &::after {
            content: "»";
        }
    }

    ul {
        list-style-type: square;
    }

    ol {
        list-style: none;
        counter-reset: mycounter;
    }

    ul,
    ol {
        ul {
            list-style-type: circle;
        }
    }

    li {
        margin-bottom: 0.25em;
        margin: 0;
    }

    ol > li {
        position: relative;
        padding-left: 0px;
    }

    ol > li:before {
        content: counter(mycounter);
        counter-increment: mycounter;
        position: absolute;
        top: 1em;
        left: -50px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        color: $text-on-dark;
        background: $dark;
        text-align: center;
        font-size: 18px;
        font-weight: $font-weight-strong;
    }

    .columns {
        display: flex
    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            width: 100% / 12 * $i;
        }
    }
} // end .reveal
