///// My Colors

// From http://www.colourlovers.com/palette/376594/Chicanery

$primary: #1c232e;
$secondary: #3c9949;
$tertiary: #5fb86b;

$light: #fff;
$dark: $primary;

$text-on-light: $primary;
$text-on-dark: $light;

$code-background: #f8f8f8;

$colored-on-light: $secondary;
$colored-on-dark: $tertiary;

// $color-strong: $secondary;
// $color-h3: $primary;

$block-color: #d9e0eb;

$linkColor-on-dark: $tertiary;
$linkColorHover-on-dark: lighten($linkColor-on-dark, 15%);
$selectionBackgroundColor-on-dark: lighten($linkColor-on-dark, 15%);

//////////// MY OTHER STUFF

$font-weight: 300;
$font-weight-strong: 400;

// $font: "Open Sans";
// $font-title: "Yanone Kaffeesatz";
// $font-fixed: "Ubuntu Mono";

$title-bar-offset: 160px; // a bit random…
$margin-left: 2em;
$margin-right: 2em;



/////////// OVERRIDE REVEAL.JS VARIABLES (see ../template/settings.scss)

$mainColor: $text-on-light;
// $backgroundColor: white;
// $headingColor: #fff; 

$mainFontSize: 2.8em;
$mainFont: "Open Sans", "Source Sans Pro", Helvetica, sans-serif;
$headingFont: "Yanone Kaffeesatz", "Source Sans Pro", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: normal;
$linkColor: $colored-on-light;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 2em; //1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;