// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// My custom stuff (overides some reveal settings)
@import "./stereopticon-colors.scss";
@import "./stereopticon-fonts.scss";
@import "./stereopticon-variables.scss";

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
    font-weight: $font-weight;
}

.reveal strong,
.reveal b {
    color: $color-strong;
    font-weight: $font-weight-strong;
}

.reveal h2 {
    background-color: $primary;
    color: $text-light;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    padding-bottom: 10px;
    text-align: left;
    z-index: 1;
    p {
        margin: 0;
    }
    //font-family: $font-title;
}

.reveal h3 {
    color: $color-h3;
    margin: 35px 0 0 0;
}

.reveal h1,
.reveal h2,
.reveal h3 {
    font-family: $font-title;
    font-weight: normal;
}

.reveal .slides {
    top: 0px;

    // Regular slides
    section:not([class^="stack"]) {
        background-color: white;
        padding-left: $margin-left;
        padding-right: $margin-right;

        // Vertical center alignment of slide content
        // Only works if revealjs is configured with «display: 'flex'»
        justify-content: center;
        flex-direction: column;
        padding-top: calc(#{$title-bar-height} / 2); // half of the h2 bar height

        // Left alignment of slide content
        text-align: left;

        // Make sure "section" is the complete slide
        padding-bottom: 0px;
        height: calc(100% - (#{$title-bar-height} / 2));
        width: calc(100% - (#{$margin-left} + #{$margin-right}));
    }

    // Title slide
    section.title {
        background-color: $primary;
        padding-top: 0px;
        vertical-align: middle;
        text-align: center;
        &,
        h1,
        h3 {
            color: $text-light;
        }
        height: 100%;
    }
}

// Unordered lists
.reveal ul {
    list-style-type: square;

    ul {
        list-style-type: circle;
    }
}

h2 {
    color: $color-h2;
}
h3 {
    color: $color-h3;
}
li {
    margin-bottom: 0.25em;
}
.reveal pre,
code {
    font-size: 0.9em;
    text-align: left;
    font-family: $font-fixed;
    color: $secondary;
    background: $code-background;
}
a,
a:visited,
a:hover,
a:active {
    color: $text-dark;
}
img {
    vertical-align: inherit;
}
blockquote {
    border-left: 8px solid;
    padding-left: 0.5em;
    color: $tertiary;
    text-align: left;
    margin: 1em 0;
    & > p {
        margin: 0;
    }
}



// Unordered lists

.reveal ol {
    list-style: none;
    counter-reset: mycounter;
}

.reveal ol >  li {
    position: relative;
    padding-left: 0px;
}

.reveal ol > li:before {
    content: counter(mycounter);
    counter-increment: mycounter;
    position: absolute;
    top: 1em;
    left: -50px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: $light;
    background: $primary;
    text-align: center;
    font-size: 18px;
    font-weight: $font-weight-strong;
}

// Ordered nested lists
.reveal ol .reveal li .reveal ul {
    list-style-type: circle;
    margin: 0
}

// Items
.reveal li {
  margin: 0
}
