@import "./stereopticon-variables.scss";

.reveal {
    // Columns
    .columns {
        display: flex;

        // Fix for asciidoc generation
        .content {
            display: flex;
        }

        @for $i from 1 through 12 {
            .col-#{$i} {
                width: 100% / 12 * $i;
                margin: auto;

                // Fix for asciidoc generation
                .content {
                    display: block;
                }
            }
        }
    }

    // Vertical spacing
    @for $i from 1 through 200 {
        .vspace-#{$i}::before {
            content: "";
            display: block;
            padding-bottom: calc(#{$i}px);
        }
    }

    // Blocks (only used in regular slides)
    .block {
        background-color: $block-color;
        padding: 0.5cm;
        margin-right: 2cm;
    }

    // Title slide helpers
    .slides section.title {
        .subtitle {
            margin-top: 20px;
            font-size: 1.3em;
        }
        .subtitle,
        .subtitle > * {
            font-family: $headingFont;
            color: $text-on-dark;
        }

        .speaker,
        .speaker > * {
            text-decoration: underline dashed// $colored-on-dark;
        }

        .author {
            margin-top: 50px;
        }

        .author,
        .author > * {
            font-weight: $font-weight-strong;
            font-family: $mainFont;
            color: $colored-on-dark;
        }

        .institution,
        .institution > * {
            font-size: 90%;
            color: $text-on-dark;
        }
    }
}
